body {
  color: #fff;
  margin:0;
  background-color: #000;
  background-image: url('https://image.freepik.com/free-vector/blue-light-sparkles-background-with-copyspace_1017-20091.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
